.row{
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 10px;
    margin-bottom: 10px;
    .col{
        padding-right: 15px;
        padding-left: 15px;
        flex: 1 0 0%;
        width: 30%;
    }
}
